<div class="container">
    <div rtl>
        <h1 class="main-heading">{{ 'stms.orders.title' | translate }}</h1>
        <div class="actions">
            <a mat-raised-button class="actions-main" color="primary">
                {{ 'stms.orders.get-orders' | translate }}
            </a>
           <div>
               <st-universal-table
                       [rows]="orders$ | async"
                       [columns]="columns"
               ></st-universal-table>
           </div>
        </div>
    </div>
</div>
