@import 'sizes';
@import 'styles-variables';

.container {
  display: flex;
  max-width: 1700px;

  .item {
    width: 50%;

    &:not(:last-child) {
      margin-right: $default-offset;

      @media (max-width: map-get($grid-breakpoints, xl)) {
        margin-right: 0;
      }
    }
  }

  .table-component {
    height: calc(100vh - 180px);

    @media (max-width: map-get($grid-breakpoints, xl)) {
      height: calc(50vh - 110px);
    }
  }

  @media (max-width: map-get($grid-breakpoints, xl)) {
    flex-direction: column;

    .item {
      width: 100%;
    }
  }
}
