@import "sizes";

:host {
  display: flex;
  height: 100%;
}

.table-container {
  margin-top: $default-offset;
  height: 100%;
  width: 100%;
  overflow: auto;
  border-radius: $default-offset-half;

  table {
    width: 100%;

    th:not(:first-child), td:not(:first-child) {
      text-align: center;
      width: 10%;
    }
  }
}

.loader-container {
  height: 100%;
  width: 100%;
}
