@import "sizes";
@import "colors";

:host {
  display: flex;
  height: 100%;
}

.table-container {
  margin-top: $default-offset;
  height: 100%;
  width: 100%;
  overflow: auto;
  border-radius: $default-offset-half;

  table {
    width: 100%;

    th:not(:first-child), td:not(:first-child) {
      text-align: center;
      width: 10%;
    }

    .favorite-btn {
      cursor: pointer;

      .favorite-icon {
        color: $yellow-color;
      }

      .no-favorite-icon {
        color: $gray-color;
      }
    }
  }
}

.loader-container {
  height: 100%;
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.na-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
