<div class="table-container mat-elevation-z8" *ngIf="loadingStatus.loaded; else loading">
    <table mat-table [dataSource]="rows">
        <ng-container *ngFor="let col of columns" [matColumnDef]="col.id">
            <th [style.width.%]="col.width"
                mat-header-cell
                *matHeaderCellDef
            >{{col.title | translate}}</th>
            <td mat-cell
                [style.width.%]="col.width"
                *matCellDef="let element"
            >
                <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="!!col.formatValue">
                        {{col.formatValue(element)}}
                    </ng-container>
<!--                    TODO: Move to const-->
                    <ng-container *ngSwitchCase="col.id === 'favorite'">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_outline</mat-icon>
                    </ng-container>
                    <ng-container *ngSwitchDefault>{{element[col.id]}}</ng-container>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<ng-template #loading>
    <div class="loader-container">
        <st-loader></st-loader>
    </div>
</ng-template>
