<ng-container *ngIf="loadingStatus.loaded; else loading">
    <div class="form-container" [@showInAnimations]>
        <mat-form-field class="search-field" floatLabel="never">
            <mat-icon matPrefix color="primary">search</mat-icon>
            <input [formControl]="filterControl" matInput placeholder="Search">
        </mat-form-field>
        <mat-checkbox *ngIf="showFavoriteCheckbox" [formControl]="favoriteCheckboxControl">Show only favorite</mat-checkbox>
    </div>
    <div class="table-container mat-elevation-z8" [@showInAnimations]>
        <table mat-table
               matSort
               *ngIf="rows?.length; else na"
               (matSortChange)="sortChange($event)"
               [dataSource]="sortedRows | filter : filterControl.value : filterProp | showOnlyFavorite : favoriteCheckboxControl.value"
        >
            <ng-container *ngFor="let col of columns" [matColumnDef]="col.id">
                <th [style.width.%]="col.width"
                    mat-sort-header
                    mat-header-cell
                    [disabled]="!col.isSortable"
                    *matHeaderCellDef
                >{{col.title | translate}}</th>
                <td mat-cell [style.width.%]="col.width" *matCellDef="let element">
                    <ng-container [ngSwitch]="true">
                        <ng-container *ngSwitchCase="!!col.formatValue">{{col.formatValue(element)}}</ng-container>
                        <ng-container *ngSwitchCase="col.isStatus">
                            <st-status-badge [statusData]="element[col.id]"></st-status-badge>
                        </ng-container>
                        <ng-container *ngSwitchCase="col.id === tableHeaderIds.Favorite">
                            <div (click)="clickOnFavorite.emit(element)" class="favorite-btn">
                                <mat-icon *ngIf="element[favoriteFlagProperty]" class="favorite-icon">star</mat-icon>
                                <mat-icon *ngIf="!element[favoriteFlagProperty]" class="no-favorite-icon">star_outline</mat-icon>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>{{element[col.id]}}</ng-container>
                    </ng-container>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <ng-template #na>
            <st-no-data></st-no-data>
        </ng-template>
    </div>
</ng-container>
<ng-template #loading>
    <div class="loader-container">
        <st-loader></st-loader>
    </div>
</ng-template>
