<div class="container" rtl>
    <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
    <button mat-raised-button color="primary" (click)="reloadData()">
        {{ 'stms.patients.reload-patients' | translate }}
    </button>
    <st-universal-table
            class="table-component"
            [loadingStatus]="loadingStatus$ | async"
            [rows]="patients$ | async"
            [columns]="columns"
            [filterProp]="filterProp"
            (clickOnFavorite)="toggleFavorite($event)"
    ></st-universal-table>
</div>
