<div class="container">
    <div rtl>
        <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
        <div class="actions">
            <a mat-raised-button class="actions-main" color="primary">
                {{ 'stms.patients.get-patients' | translate }}
            </a>
            <div *ngIf="(loadingStatus$ | async).loading" class="loader-container">
                <st-loader></st-loader>
            </div>
            <st-universal-table
                    *ngIf="(loadingStatus$ | async).loaded"
                    [rows]="patients$ | async"
                    [columns]="columns"
            ></st-universal-table>
        </div>
    </div>
</div>
